#mydominspector #on{
    position: fixed;
    height: 45px;
    width: 45px;
    top: 10px;
    right: 0px;
    opacity: 0.7;
    color: #e2e2e2;
    border: 0;
    font-size: 18px;
    z-index: 500;
    background: #000;
    -webkit-transition: all ease 0.3s;
    border-radius: 10px 0 0 10px;
}

#mydominspector #on:hover{
    opacity:0.9;
}

#mydominspector a {
    text-decoration: none;
    color: #BECFE0;
    display: inline-block;
    padding: 10px 0;
    width: 80px;
}

#mydominspector a:hover {
    color:#ffffff;
}
#mydominspector .warning {
    background-color: rgba(255, 255, 255, 0.7);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    z-index: 9;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 120px 20px 20px;
    outline: none;
    font-weight: bold;
    cursor:pointer;
}

#mydominspector .warning h1{
    font-size: 99px;
}

#mydominspector .warning p{
    font-size: 32px;
}

#mydominspector #editor { 
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border:none;
}

#mydominspector .mydom-Tab{
    height: 100%;
    background: #333;
    position: fixed;
    top: 0;
    color: #fff;
    padding: 15px;
    text-align: left;
    font-weight: 200;
    box-shadow: -2px 0 6px #000000;
}

#mydominspector .mydom-Tab.csscodeTab{
    width: 370px;
    background: #333333;
    right: -400px;
    z-index: 99998;
}

#mydominspector .mydom-Tab.csssettingsTab{
    width: 345px;
    background: #555555;
    right: -400px;
    z-index: 99999;
}

#mydominspector .mydom-Tab.csssettingsTab .option{
    display: block;
    margin: 15px 0;
    width: auto;
    cursor: pointer;
    border: 3px dashed #666;
    color: #e2e2e2;
    padding: 5px 10px 15px;
    border-radius: 10px;
    -webkit-transition: all ease 0.3s;
    -webkit-transform: scale(0.95);
}

#mydominspector .mydom-Tab.csssettingsTab .option.disabled:hover{
    color:#666666;
    border-color:#666666;
    -webkit-transform: scale(0.95);
}

#mydominspector .mydom-Tab.csssettingsTab .option:hover{
    color:#e2e2e2;
    border-color:#e2e2e2;
    -webkit-transform: scale(1);
}

#mydominspector .mydom-Tab.csssettingsTab .option.disabled{
    color:#666666;
    cursor: not-allowed;
    border-color:#666666;
}

#mydominspector .mydom-Tab.csssettingsTab b.title{
    text-align: center;
    display: block;
    font-size: 26px;
    color:#e2e2e2;
}

#mydominspector .mydom-Tab.csssettingsTab .option h1{
    font-size: 50px;
    margin: 20px 0 5px 0;
}

#mydominspector .mydom-Tab.csssettingsTab .option p{
    padding: 0;
    font-size: 16px;
}

#mydominspector-switch {
    border: 0;
    position: fixed;
    width: 50px;
    height: 70px;
    z-index: 10010;
    background: #d2322d;
    text-align: center;
    padding: 10px;
    color: #333333;
    font-size: 20px;
    right: 12px;
    top: 0;
    box-shadow: 0 2px 3px #333;
    cursor: pointer;
    outline: none !important;
}

#mydominspector-bar{
    height: 100%;
    background: #495B6C;
    overflow:hidden;
    position: fixed;
    right: -80px;
    top: 0px;
    outline: none;
    padding: 0;
    color: #BECFE0;
    z-index: 99999;
    outline: none !important;
    text-align: center;
    border-left: 1px solid #415160;
}

#mydominspector-bar ul{
    list-style: none;
    padding: 0;
    margin:0;
}

#mydominspector-bar ul li i{
    font-size: 16px;
    margin-bottom:5px;
}

#mydominspector-bar ul li.active{
    background:#415160;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2) inset;
}

#mydominspector-bar ul li{
    outline: none !important;
    display: block;
    list-style: none;
    border-top: 1px solid #506274;
    border-bottom: 1px solid #415160;
    cursor: pointer;
    font-size: 11px;
    padding: 0;
    height:60px;
    -webkit-transition: all ease 0.3s;
}


#mydominspector-bar ul li:hover{
    background:#415160;
    border-top-color: #415160;
    color:#ffffff;
}

#mydominspector-bar .logo{
    padding: 12px 0;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.mydominspector-tabs{
    z-index: 9999;
    top: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin-top: -30px;
    padding:0;
}

.mydominspector-tabitem{
    margin-right:7px;
    padding: 5px 20px;
    height: 30px;
    background-color: #C00;
    color:white;
    display: inline-block;
}

.mydominspector-modal{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50000;
    outline: none;
}

.mydominspector-modal .mydominspector-dialog{
    color: #333333;
    background-color: white;
    min-height: 300px;
    width: 500px;
    margin: 90px auto 0px;
    outline: none;
    border: 1px solid rgb(249, 249, 249);
    box-shadow: rgb(51, 51, 51) 1px 1px 2px;
    font-size: 14px;
}
.mydominspector-modal .mydominspector-dialog form{
    padding: 10px 10px 10px 20px;
    line-height: 20px;
}

.mydominspector-modal .label.label-primary {
    background-color: #495B6C;
}


.mydominspector-modal .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.mydominspector-modal .mydominspector-dialog ul.menuselector {
    list-style: none;
    padding: 0;
    position: absolute;
    margin-top: -35px;
    display: block;
    margin-left:10px;
}

.mydominspector-modal .mydominspector-dialog ul.menuselector li {
    display: inline-block;
    margin-right: 10px;
    height: 34px;
    width: 75px;
    position: relative;
    float: left;
    overflow: hidden;
}

.mydominspector-modal .mydominspector-dialog ul.menuselector li.active a {
    background: white;
    color: #333;
}

.mydominspector-modal .mydominspector-dialog ul.menuselector li.disabled a {
    background: #666;
    color: #A4A4A4;
    cursor: not-allowed;
}

.mydominspector-modal .mydominspector-dialog ul.menuselector li a {
    cursor: pointer;
    color: #BECFE0;
    background: #506274;
    padding: 7px 10px 0; 
    display: block;
    text-align: center;
    height: 100%;
    border-radius: 0;
    font-weight: bold;
    -webkit-transition: all ease 0.3s;
}

.mydominspector-modal .mydominspector-dialog a.closeimg {
    outline: none;
    background: url(../img/close.png) no-repeat -8px -8px transparent;
    width: 46px;
    height: 46px;
    padding: 0;
    border: 0;
    position: absolute;
    top: 70px;
    opacity: 1;
    cursor: pointer;
    margin-left: 470px;
}

.mydominspector-modal .mydominspector-dialog .cssfeature{
    margin: 12px 0;
}

.mydominspector-modal .mydominspector-dialog .buttonfeature {
    padding-left: 125px;
    margin: 12px 0;
    display: inline-block;
    text-align: right;
    width: 300px;
}

.mydominspector-modal .mydominspector-dialog .buttonfeature button {
    background: #ffffff;
    border: 1px solid #b5b5b5;
    border-radius: 0;
    padding: 5px 12px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.mydominspector-modal .mydominspector-dialog .buttonfeature button.submit{
    background: #000000;
    color:#ffffff;
    border-color: #000000;
}

.mydominspector-modal .mydominspector-dialog .cssfeature label{
    width: 100px;
    text-align: right;
    padding: 0 0px;
    word-break: break-word;
    word-wrap: break-word;
    float: left;
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    max-width: 110px;
    margin-right: 15px;
    margin-left: 0;
    color: #333;
    font-size: 14px;
}

.mydominspector-modal .mydominspector-dialog .cssfeature input {
    padding: 5px;
    color: #666;
    border: 1px solid #CCC;
    width: 300px;
    font: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    height: 32px;
    font-size: 15px;
}

.mydominspector-modal .mydominspector-dialog .cssfeature select {
    width: 300px;
    font-size: 14px;
    border: 1px solid #ccc;
    background: transparent;
    height: 30px;
    padding: 5px;
    color: #666;
    border-radius: 0;
    -webkit-border-radius: 0;
}

/*Combobox*/

.combobox {
    margin-right: 0.1em;
}

.combobox_arrow {
    background: none;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    color: #999;
    font-size: 12px;
}

.combobox_button {
    webkit-writing-mode: horizontal-tb;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius   : 0 4px 4px 0;
    border-radius        : 0 4px 4px 0;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    background: #e9e9e9;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    max-height: 32px;
}

.combobox_button:hover {
    text-decoration: none;
}

/*.combobox_button {
    top: 1px !important;
}*/

.combobox_selector {
    background-color: #EEE;
    font-family: Helvetia, Arial, sans-serif;
    font-size: 14px;
    z-index: 999999;
    max-height: 200px;
    overflow: auto;
}

.combobox_selector ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border:1px solid #CCC;
}

.combobox_selector li {
    padding: 2px 5px;
}

.combobox_selector li:hover,
.combobox_selector li.selected {
    background-color: #0066CC;
    color: #FFF;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}