.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:active,
.btn.active {
    background-image: none;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #e0e0e0;
    border-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}

.btn-default:active,
.btn-default.active {
    background-color: #e6e6e6;
    border-color: #e0e0e0;
}

.btn-primary {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#76218a), to(#682876));
    background-image: -webkit-linear-gradient(top, #76218a, 0%, #682876, 100%);
    background-image: -moz-linear-gradient(top, #76218a 0%, #682876 100%);
    background-image: linear-gradient(to bottom, #76218a 0%, #682876 100%);
    background-repeat: repeat-x;
    border-color: #682876;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff76218a', endColorstr='#ff682876', GradientType=0);
}

.btn-primary:active,
.btn-primary.active {
    background-color: #682876;
    border-color: #76218a;
}

.btn-success {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#449d44));
    background-image: -webkit-linear-gradient(top, #5cb85c, 0%, #449d44, 100%);
    background-image: -moz-linear-gradient(top, #5cb85c 0%, #449d44 100%);
    background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
    background-repeat: repeat-x;
    border-color: #419641;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

.btn-success:active,
.btn-success.active {
    background-color: #449d44;
    border-color: #419641;
}

.btn-warning {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#ec971f));
    background-image: -webkit-linear-gradient(top, #f0ad4e, 0%, #ec971f, 100%);
    background-image: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
    background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
    background-repeat: repeat-x;
    border-color: #eb9316;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

.btn-warning:active,
.btn-warning.active {
    background-color: #ec971f;
    border-color: #eb9316;
}

.btn-danger {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c9302c));
    background-image: -webkit-linear-gradient(top, #d9534f, 0%, #c9302c, 100%);
    background-image: -moz-linear-gradient(top, #d9534f 0%, #c9302c 100%);
    background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
    background-repeat: repeat-x;
    border-color: #c12e2a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

.btn-danger:active,
.btn-danger.active {
    background-color: #c9302c;
    border-color: #c12e2a;
}

.btn-info {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#31b0d5));
    background-image: -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
    background-image: -moz-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
    background-repeat: repeat-x;
    border-color: #2aabd2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

.btn-info:active,
.btn-info.active {
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.thumbnail,
.img-thumbnail {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #357ebd;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #357ebd, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}


.hidden-xs {
    display: block !important;
} 

.icon-mail {
    float: left;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 25px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f8f8f8));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f8f8f8, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 40px;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.navbar .navbar-nav > .active > a {
    background-color: #f8f8f8;
}

.navbar-brand,
.navbar-nav > li > a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-inverse {
    background:#c7b5dc;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #222222;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
}

.alert {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.alert-success {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#c8e5bc));
    background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #c8e5bc, 100%);
    background-image: -moz-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
}

.alert-info {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#b9def0));
    background-image: -webkit-linear-gradient(top, #d9edf7, 0%, #b9def0, 100%);
    background-image: -moz-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
}

.alert-warning {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcf8e3), to(#f8efc0));
    background-image: -webkit-linear-gradient(top, #fcf8e3, 0%, #f8efc0, 100%);
    background-image: -moz-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    background-repeat: repeat-x;
    border-color: #f5e79e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
}

.alert-danger {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#e7c3c3));
    background-image: -webkit-linear-gradient(top, #f2dede, 0%, #e7c3c3, 100%);
    background-image: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
}

.progress {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ebebeb), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ebebeb, 0%, #f5f5f5, 100%);
    background-image: -moz-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

.progress-bar {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

.progress-bar-success {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#449d44));
    background-image: -webkit-linear-gradient(top, #5cb85c, 0%, #449d44, 100%);
    background-image: -moz-linear-gradient(top, #5cb85c 0%, #449d44 100%);
    background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

.progress-bar-info {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#31b0d5));
    background-image: -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
    background-image: -moz-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

.progress-bar-warning {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#ec971f));
    background-image: -webkit-linear-gradient(top, #f0ad4e, 0%, #ec971f, 100%);
    background-image: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
    background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

.progress-bar-danger {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c9302c));
    background-image: -webkit-linear-gradient(top, #d9534f, 0%, #c9302c, 100%);
    background-image: -moz-linear-gradient(top, #d9534f 0%, #c9302c 100%);
    background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

.list-group {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    text-shadow: 0 -1px 0 #3071a9;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3278b3));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #3278b3, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #3278b3 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #3278b3 100%);
    background-repeat: repeat-x;
    border-color: #3278b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0);
}

.panel {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #e8e8e8, 100%);
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

.panel-primary > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #357ebd, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.panel-success > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#d0e9c6));
    background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #d0e9c6, 100%);
    background-image: -moz-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
    background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}

.panel-info > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#c4e3f3));
    background-image: -webkit-linear-gradient(top, #d9edf7, 0%, #c4e3f3, 100%);
    background-image: -moz-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
    background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}

.panel-warning > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcf8e3), to(#faf2cc));
    background-image: -webkit-linear-gradient(top, #fcf8e3, 0%, #faf2cc, 100%);
    background-image: -moz-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}

.panel-danger > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#ebcccc));
    background-image: -webkit-linear-gradient(top, #f2dede, 0%, #ebcccc, 100%);
    background-image: -moz-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
    background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}

.well {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e8e8e8), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #e8e8e8, 0%, #f5f5f5, 100%);
    background-image: -moz-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

body{
    background:#ffffff;

}


/*------------------------- Header CSS -------------------------*/
.header{
    color:#6C557F;
    font-size:11px;
}
.header ul{
    list-style:none;
    margin:0px;
    padding:0px;
}
.header ul li{
    float:left;
    padding-right:20px;
}
.header ul li:last-child
{
    padding-right:0px;
} 


.form-group a{
    color:#6C557F;
    text-decoration:underline;
}
.form-group a:hover{
    color:#000000;
    text-decoration:underline;
}

/*------------------------------ Banner CSS -----------------------------*/
.banner-div{
    position:inherit;
}	

.logo{
    margin:20px 10px;
    height: 133px;
}	
.banner-bottom-div.banner-bottom-div {
    position: absolute;
    margin-top: -120px;
    width: 100%;
    z-index: 11;
    margin-left: -25px;
}
.bottom-div-right{
    background-color: #cbc1be;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e0d9d5), to(#cbc1be));
    background-image: -webkit-linear-gradient(top, #e0d9d5, 0%, #cbc1be, 100%);
    background-image: -moz-linear-gradient(top, #e0d9d5 0%, #cbc1be 100%);
    background-image: linear-gradient(to bottom, #e0d9d5 0%, #cbc1be 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0d9d5', endColorstr='#ffcbc1be', GradientType=0);
    border-radius:16px;
    font-size:12px;
    text-align:center;
    padding:10px;
    margin:15px 5px;
    min-height:80px;
}	
.bottom-div-right img{
    vertical-align:middle;
    padding:0px 30px;

}

.nav{position:relative;}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 14px solid transparent;
    border-right: 0px solid transparent;
    position:absolute;
    border-top: 10px solid #abc4d1;
    top: 40px;
}
.arrow-up2 {
    width: 0; 
    height: 0; 
    border-left: 0px solid transparent;
    border-right: 14px solid transparent;
    position:absolute;
    border-top: 10px solid #abc4d1;
    top: 40px;
    right:0px;
}		
.cart-text1{
    color:#a47fb7;
}
.cart-text1 a{
    color:#a47fb7;
}	
.cart-text2{
    color:#4cbec0;
}		
.cart-text a{
    color:#4cbec0;
}	
.main-heading {
    color:#ffffff;
    text-shadow: 2px 2px #3a3b3c;

}	
.main-heading h1{
    font-size:36px;
    padding-left:0px;
    margin-left:0px;

}
/*
Rev 2dic
#carousel-example-generic .carousel-inner	{
    width: 1600px;
    margin: 0 auto;    
}
*/

.back-wrapper {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;
}
.back-slide {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 1600px;
    height: 800px;
    max-width: 100%;
}

#menu-sticky{
    z-index:16;
}

.carousel{
    background-color: transparent;
    max-width: 1600px;
    margin: 0 auto; 
    overflow:hidden;
}
/*
.carousel.carousel-fade .item {
    -webkit-transition: opacity 4s ease-in-out;
    -moz-transition: opacity 4s ease-in-out;
    -ms-transition: opacity 4s ease-in-out;
    -o-transition: opacity 4s ease-in-out;
    transition: opacity 4s ease-out;
}*/

.carousel-fade .item {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    left: 0 !important;
}

.carousel-fade .active {
    opacity: 1 !important;
}

.carousel-fade .left {
    opacity: 0 !important;
    -webkit-transition: opacity 0.5s ease-in-out !important;
    -moz-transition: opacity 0.5s ease-in-out !important;
    -ms-transition: opacity 0.5s ease-in-out !important;
    -o-transition: opacity 0.5s ease-in-out !important;
    transition: opacity 0.5s ease-in-out !important;
}

.carousel-fade .carousel-control {
    opacity: 1 !important;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.carousel-fade .carousel-control {
    cursor:default;
    z-index: 3;
}

.carousel.carousel-fade .carousel-control span{
    display:none;
}

.carousel.carousel-fade .left.carousel-control{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9999) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-repeat: repeat-x;
    opacity: 1;
}

.carousel.carousel-fade .right.carousel-control{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.9999) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-repeat: repeat-x;
    opacity: 1;
}

/*
Rev 2dic
.carousel-fade .carousel-inner .item {
    opacity: 0;
    height:600px;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
*/
.carousel-fade .carousel-inner .item{
    /*width: 1600px;
    height: 800px;
    background-size:100%;*/
    box-shadow: inset 0 -70px 100px 40px #000000;
}
/*
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
*/
/*---------------------------------------Container CSS-------------------------*/
.main-container{
    background:#f5fbf8;
    border:#ededed solid 1px;

    margin-top:20px;
    margin-bottom:20px;
    box-shadow: 3px 3px 3px #888888;
}	
.nina{
    background:#C7B5DC;
    color:#ffffff;
    text-align:center;
    font-size:30px;
    padding:0px 0px;
    margin-right:-7px;
}	
.nino{
    background:#4CBEC0;
    color:#ffffff;
    text-align:center;
    font-size:30px;
    padding:0px 0px;
    margin-left:-7px;
}	
.main-buttons{
    margin-top:10px;
}	
.nina-button{
    border:none;
    background:transparent;
    color:#ffffff;
    width: 100%;
    font-size: 30px;
}	
.careusel-bg{background-color: #eee; margin:0 0px !important;}
#foo4{height:170px !important;margin:10px 30px !important;}
#foo4 img{
    box-shadow: 1px 1px 3px #888888;
}
.caroufredsel_wrapper{margin:0 auto !important; height:170px !important;}
/*---------------navigation-----------------------*/
.nav-justified{

    /*max-height: 52px; */
}	
.navigation{
    margin-top:60px;
    margin-bottom:8px;

}
.navigation ul {
    background-color: #dee5ee;

}
.nav > li > a{
    padding:10px !important; 
    text-decoration: none;
    color:#637290;
}	

.nav > li > a:hover {
    text-decoration: none;
    color: #637290;
}
/*------------------------------ Center Div CSS---------------------------*/
.right-div{
    margin-top:8px;
    padding-bottom:15px;
}
.right-div1{
    padding-right:15px;


}
.leftt-div{
    margin-left:0px;
    margin-right:0px;
    background:#f8f1d6;
    padding:0 10px 55px;
    margin-bottom: 20px;
    overflow:hidden;
}
.left-div{
    padding-left:30px;
    text-align:center;

}
.leftt-div h6{
    font-size:15px;
    clear: both;
}
.horse-toy{
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;

}
.yellow-button{
    background:#E1C97C;
    color:#ffffff;
    text-align:center;
    font-size:20px;
    padding:15px;
    margin-top:10px;
    margin-bottom:10px;

}
.border{
    border-top:#cecebf solid 1px;
    height:1px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;

}
.safetypin{
    color:#b8d8d8;

}

.cart2 {
    color:#d4bada;
}
.dice {
    color:#b8d8d8;
}
.key {
    color:#d4bada;
}
.footprint {
    color:#b8d8d8;
}

.box{
    margin-right:15px;
    margin-top:10px;
    border:#abd9d7 solid 1px;
    height:300px;
    color:#abd9d7;
    text-align:center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow:hidden;
}

.box .caption{
    margin-top:5px;
}

.box .caption .type {
    min-height: 25px;
    padding: 5px 0;
    display: block;
    overflow: hidden;
}

.box .caption .origin{
    float:left;
    text-transform: uppercase;
    width: 135px;
    text-align: left;
}

.box .caption .label{
    float:right;
    text-transform: uppercase;
    margin-bottom:3px;
    margin-top:2px;
}

.box .caption .title{
    text-transform: capitalize;
    padding:5px 0 5px;
    margin:0;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.box .caption p.desc{
    font-size: 13px;
    color: #b9b9b9;
    text-align: left;
    height: 50px;
    overflow: hidden;   
}

.box .caption p.price{
    font-size: 18px;
    margin:5px 0;
    color: #b9b9b9;
    text-align:center;    
}

.box .product{
    height: 150px;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:105%;
}

.box1{
    margin-left:0px;
    margin-right:10px;
    margin-top:10px;
    border:#abd9d7 solid 1px;
    height:50px;
    text-align:center;
    padding:15px 0;
    color:#abd9d7;
}	

#loader {
    height: 32px;
    margin-top: 10px;
    background: url("../img/loader.gif") no-repeat center center transparent;
    display: inline-block;
    clear: both;
    width: 100%;
}
/*=========================footer============================*/
.footer-top{
    background:url("../img/footer.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
    height:192px;
}
.footer-links{


}
.footer-links h4{
    color:#333333;
    font-size:18px;
}
.footer-links ul{
    list-style:none;
    margin:0px; padding:0px;
}
.footer-links ul li{

}
.footer-links ul li a{
    color:#66666f;
}
.form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 11px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



.form-control1 {
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.social-icon-bt{width:18px; margin-right:3px;margin-bottom:3px;}

.navbar-inverse, .navbar-inverse .navbar-form {
    box-shadow: 0 0 0;
    border:none;
    border-radius:0 !important;
    padding:0;
}

.navbar .form-control.email {
    padding-right: 29px;
}


.navbar .emailbtn{
background: url(/img/icon-mail.png) no-repeat 7px 4px transparent;
border: none;
height: 30px;
width: 37px;
right: 0;
position: absolute;
top: 0;
padding: 0;
margin: 0;
}

#carousel-sub{
    max-width: 815px;
    margin:0;
}
/*-------------------------RESPONSIVE---------------------------------*/
@media (max-width:1280px)  {



}
@media screen and (min-width: 981px) and (max-width: 1280px){
    .main-heading h1 {
        font-size: 29px;
        margin-bottom:30px;
    }
    .right-div1{
        padding-right:30px;

    }
    .border{display:none;}
    .yellow-button{font-size:18px;}

}/*--------- iPad CSS-------------*/

@media screen and (min-width: 768px) and (max-width: 980px){
    .bottom-div-right img{
        vertical-align:middle;
        padding:0px 5px;
    }	
    .bottom-div-right{
        font-size:10px;

    }
    .arrow-up{top:35px;}
    .arrow-up2{top:35px;}
    .right-div1{
        padding-right:30px;
    }
    .navigation{
        font-size:11px;
    }
    .main-heading h1 {
        font-size: 24px;
        margin-bottom:25px;
    }
    .col-sm-4 {
        width: 30.72%;
    }
    .footer-links h4{font-size:15px;}
    .yellow-button{padding:3px;font-size:13px;}
    .leftt-div h6{font-size:14px;}
    .border{display:none;}
}/*--------- Tablet CSS-------------*/
@media (max-width:767px)  {

    .banner-div{
        position:inherit;
    }	

    h2{
        font-size: 20px;
    }

    .bottom-div-right{
        margin:50px -10px!important;
        background:#ffffff;
        border:#EDEDED solid 1px;
        position:relative;
        top:50px;
    }
    .banner-bottom-div{}
    .cart2{
        float:left;
    }
    .cart1{
        float:right;
    }
    .main-buttons{
        margin-top:120px;
    }

    .nino{
        margin-left:0px;
        margin-top:10px;
    }
    .nina{
        margin-right:0px;
    }

    .carousel-caption{
        width:100%;
    }

    .caption-bg{
        background:url("../img/banner-bottom.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    .banner-bottom-div{
        position: static;
        margin-top: -70px !important;
        width: 100%;
        margin-left: 0!important;
        z-index: 15;
    }
    .navigation ul{
        background:transparent;
    }
    .nav-justified > li{
        width:49.2%;
        background:#DEE5EE;
        float:left;
        margin:1px;
    }
    .nav-justified > li:last-child{
        width:99%;
    }
    .navigation{
        margin-top:0px;
    }
    .border{
        display:none;
    }
    .leftt-div{
        margin-left:15px;
        margin-right:15px;
    }    
    .left-div{
        padding-left:15px;
    }
    .nav-justified{
        padding:30px;
    }
    .form-group{text-align:center;}
    .social-icon  {
        width:100%;
    }
    .social-icon ul {
        width:45%;
        margin:0px auto;
    }
    .navbar-form{
        min-height:60px;
    }
    .bottom-div-right{
        font-size:10px;
        border-radius:8px;
        margin:15px -10px;
        min-height:58px;
    }
    .bottom-div-right img{
        vertical-align:middle;
        padding:0px ;
    }	
    .main-heading h1{
        font-size:18px;
    }
    .main-heading {
        color:#ffffff;
        text-shadow: 1px 1px #3a3b3c;
    }
    .nav > li > a{
        background:none;
    }
    .box{
        width:48%;
        margin:3px;
        height:100px;}
    p{
        text-align:center;
    }
    .bottom-links {
        margin-left:25%;
    }
    .bottom-links ul{
        list-style:none;
    }
    .right-div1{
        margin:0 15px ;
        padding-right:0px;
    }
    .yellow-button{padding:3px;font-size:15px;}
    .arrow-up{display:none;}
    .arrow-up2{display:none;}
    .caroufredsel_wrapper{margin:0 auto !important; height:135px !important;}
    .bannerr{width:100%;margin:0px auto;text-align:center;}
    .leftt-div h6{font-size:12px;}
}/*--------Mobile-----------*/



/*------------------------feedback css----------------*/

.bottom-div-right{
    background:#ffffff;
    cursor: pointer;
    z-index:5;
}

.col-lg-12.border {
    border-top: #cecebf solid 1px;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    display:block;
}

.wrapper {
    background-color: white;
    width: 480px;
    margin: 40px auto;
    padding: 50px;
    box-shadow: 0 0 5px #999;
}
.list_carousel {
    background-color: #eee;
    margin: 0 10px;
    width: 360px;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 40px;
    color: #999;
    text-align: center;
    background-color: #eee;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.clearfix {
    float: none;
    clear: both;
}
#prev {
    float: left;
    position:absolute;
    top:43%;
    left:5px;
}
#next {
    float: right;
    position:absolute;
    top:43%;
    right:5px;
}

.tag-cloud{
    margin:0;
    padding: 0;
}

.hover {
    display: inline-block;
    padding: 10px 0;
    border-top: #cecebf solid 1px;
    margin-top: 10px;
}

#load_more{
    background:transparent;
    width: 99%;
}

#prod-close-button {
    position: absolute;
    width: 59px;
    height: 59px;
    top: -24px;
    right: -24px;
    background-image: url('../img/close.png');
    cursor: pointer;
    z-index: 2000;
}
#item_modal.video .modal-dialog,#item_modal.articulo .modal-dialog{
    width:700px;
    height:550px;
}

#item_modal .modal-dialog{
    width:80%;
    height:70%;
}

#item_modal .modal-content{
    min-width: 600px;
    min-height: 500px;
}

#item_modal .modal-body{
    height:100%;
}

#item_modal.video .modal-body{
    padding:0;
    background-color:#333;
    height: 400px;
}

#item_modal.video .modal-header{
    display:none;
}
.filter-action{
    cursor:pointer;
}
#content-filters{
    padding: 10px 45px 5px 10px;
    text-align: left;
    /*min-height: 30px;*/
}

#content-filters span{
    margin:5px;
    float:left;
    font-size: 12px;
}
#content-filters span.label a.close{
    float: none;
    font-size: 15px;
}
.carousel-indicators {
    bottom: 0px !important;
}
.carousel-indicators .active {
margin: 0;
width: 12px;
height: 12px;
background-color: #C7B5DC;
}

.carousel-indicators li {
display: inline-block;
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
border: 1px solid #C7B5DC;
border-radius: 10px;
cursor: pointer;
background-color: #000 \9;
background-color: rgba(0, 0, 0, 0);
}



.carousel-caption {
    left: 0% !important;
    bottom: 0% !important;
    height: 125px;
    z-index: 3;
    background: rgba(0,0,0,0.2);
    width: 100%;
    padding-right: 40%;
    padding-left: 4%;
    padding-top: 0;
}

#item_modal .carousel {
    background: #e2e2e2;
    min-height: 400px;
    margin-bottom:15px;
    height:30%;
    overflow: hidden;
    padding: 0;
}

#item_modal .carousel img{
    margin: auto;
    height: 100% !important;
}
#posts-container .col-lg-4 {
    width: 30%;
}

.newsletter-form{
    margin:0
}