body{
    background:#ffffff;

}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/CcKI4k9un7TZVWzRVT-T873hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:active,
.btn.active {
    background-image: none;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #e0e0e0;
    border-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}

.btn-default:active,
.btn-default.active {
    background-color: #e6e6e6;
    border-color: #e0e0e0;
}

.btn-primary {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
    background-repeat: repeat-x;
    border-color: #2d6ca2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

.btn-primary:active,
.btn-primary.active {
    background-color: #3071a9;
    border-color: #2d6ca2;
}

.btn-success {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#449d44));
    background-image: -webkit-linear-gradient(top, #5cb85c, 0%, #449d44, 100%);
    background-image: -moz-linear-gradient(top, #5cb85c 0%, #449d44 100%);
    background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
    background-repeat: repeat-x;
    border-color: #419641;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

.btn-success:active,
.btn-success.active {
    background-color: #449d44;
    border-color: #419641;
}

.btn-warning {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#ec971f));
    background-image: -webkit-linear-gradient(top, #f0ad4e, 0%, #ec971f, 100%);
    background-image: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
    background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
    background-repeat: repeat-x;
    border-color: #eb9316;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

.btn-warning:active,
.btn-warning.active {
    background-color: #ec971f;
    border-color: #eb9316;
}

.btn-danger {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c9302c));
    background-image: -webkit-linear-gradient(top, #d9534f, 0%, #c9302c, 100%);
    background-image: -moz-linear-gradient(top, #d9534f 0%, #c9302c 100%);
    background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
    background-repeat: repeat-x;
    border-color: #c12e2a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

.btn-danger:active,
.btn-danger.active {
    background-color: #c9302c;
    border-color: #c12e2a;
}

.btn-info {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#31b0d5));
    background-image: -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
    background-image: -moz-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
    background-repeat: repeat-x;
    border-color: #2aabd2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

.btn-info:active,
.btn-info.active {
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.thumbnail,
.img-thumbnail {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #357ebd;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #357ebd, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.navbar {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f8f8f8));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f8f8f8, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar .navbar-nav > .active > a {
    background-color: #f8f8f8;
}

.navbar-brand,
.navbar-nav > li > a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-inverse {
    background:#8a2184;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #444444;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
}

.alert {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.alert-success {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#c8e5bc));
    background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #c8e5bc, 100%);
    background-image: -moz-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
}

.alert-info {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#b9def0));
    background-image: -webkit-linear-gradient(top, #d9edf7, 0%, #b9def0, 100%);
    background-image: -moz-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
}

.alert-warning {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcf8e3), to(#f8efc0));
    background-image: -webkit-linear-gradient(top, #fcf8e3, 0%, #f8efc0, 100%);
    background-image: -moz-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    background-repeat: repeat-x;
    border-color: #f5e79e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
}

.alert-danger {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#e7c3c3));
    background-image: -webkit-linear-gradient(top, #f2dede, 0%, #e7c3c3, 100%);
    background-image: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
}

.progress {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ebebeb), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ebebeb, 0%, #f5f5f5, 100%);
    background-image: -moz-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

.progress-bar {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

.progress-bar-success {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#449d44));
    background-image: -webkit-linear-gradient(top, #5cb85c, 0%, #449d44, 100%);
    background-image: -moz-linear-gradient(top, #5cb85c 0%, #449d44 100%);
    background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

.progress-bar-info {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#31b0d5));
    background-image: -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
    background-image: -moz-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
    background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

.progress-bar-warning {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#ec971f));
    background-image: -webkit-linear-gradient(top, #f0ad4e, 0%, #ec971f, 100%);
    background-image: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
    background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

.progress-bar-danger {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c9302c));
    background-image: -webkit-linear-gradient(top, #d9534f, 0%, #c9302c, 100%);
    background-image: -moz-linear-gradient(top, #d9534f 0%, #c9302c 100%);
    background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

.list-group {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    text-shadow: 0 -1px 0 #3071a9;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3278b3));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #3278b3, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #3278b3 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #3278b3 100%);
    background-repeat: repeat-x;
    border-color: #3278b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0);
}

.panel {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #e8e8e8, 100%);
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

.panel-primary > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #357ebd, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.panel-success > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#d0e9c6));
    background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #d0e9c6, 100%);
    background-image: -moz-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
    background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}

.panel-info > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#c4e3f3));
    background-image: -webkit-linear-gradient(top, #d9edf7, 0%, #c4e3f3, 100%);
    background-image: -moz-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
    background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}

.panel-warning > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcf8e3), to(#faf2cc));
    background-image: -webkit-linear-gradient(top, #fcf8e3, 0%, #faf2cc, 100%);
    background-image: -moz-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}

.panel-danger > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#ebcccc));
    background-image: -webkit-linear-gradient(top, #f2dede, 0%, #ebcccc, 100%);
    background-image: -moz-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
    background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}

.well {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e8e8e8), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #e8e8e8, 0%, #f5f5f5, 100%);
    background-image: -moz-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.form-control {
    display: block;
    width: 100%;
    height: 24px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #666666;
    vertical-align: middle;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: 0 0 0;
}

.form-control#q{
    padding-left:30px;
}

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 48px;
    margin-bottom: 20px;
    border-radius:0;
    border:none;
}

.hidden-xs {
    display: block !important;
}

/*------------------------- Header CSS -------------------------*/
.header{
    color:#eaeaea;
    font-size:11px;
}
.header a{
    color:#eaeaea;
    text-decoration:underline;
}
.header a:hover{
    color:#fa2806;
    text-decoration:underline;
}
.header ul{
    list-style:none;
    margin:0px;
    padding:0px;
}
.header ul li{
    float:left;
    padding-left:30px;
}
.header ul li:last-child
{
    padding-right:0px;
}
.form-group{
    margin-left:15px;
}
.form-control{
    width:225px;
}
.form-group a{
    color:#eaeaea;
    text-decoration:underline;
}
.form-group a:hover{
    color:#fa2806;
    text-decoration:underline;
}
.icon-mail {
    float: left;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 25px;
}
.form-group-main { width:auto; float:left; background:#fff; padding:3px;position:relative;}

.form-control-mail {
    right:6px; top:6px; position:absolute;
}
.form-control-ir{right:4px; top:4px; position:absolute;}
.form-control-serch {
    left:6px; top:6px; position:absolute;
}
.form-control:hover {
    border:#999 1px solid;
}
.navbar-form{
    text-align:right;
}/*---------------------header close---------------------*/

/*---------------------logo and navigation css start here-----------*/
.logo{
    margin:25px 0px;
}
.navigation{
    color:#000000;
    font-size:18px;
    text-transform:uppercase;
}
.nav{
    border-bottom:#dddddd solid 1px;

}
.nav > li > a{
    text-decoration: none;
    color:#666666;
    font-family: 'Raleway', Helvetica;
    font-weight: 200;
}

.nav > li > a:hover{

    text-decoration: none;
    color:#D90000;
}

/*---------------------logo and navigation css end here-----------*/
/*------------------------------ Banner CSS -----------------------------*/
.banner {
margin: 0 0 30px;
display: block;
border: 1px solid #dddddd;
width: 100%;
text-align: center;
border-top: none;
}

/*--------------container css start---------------------*/

.container-images {
    margin-top:10px;
    position:relative;
    height: 300px;
}
.container-images img {
    height: 100% !important;
}
.container-images-heading {
    width:95%;
    float:left;
    /*height:70px;*/
    z-index:10000000000;
    position:absolute;
    bottom:0px;
    background:url(../img/header-bg.png )repeat;
    color:#fff;
    text-align:right;
    padding-right:10px;
    font-size:30px;
    padding-top:15px;
    padding-bottom:25px;
}
.item-section{
    margin-top:50px;
}
.items,.stores{
    margin-top:10px;
    margin-left:0px;
    margin-right:0px;
    padding:0px;
    text-align: center;
}

/*.items div img{*/
/*    display:inline-block;*/
/*}*/
/**/
/*.items div{*/
/*    border:#cccccc solid 1px;*/
/*    display: block;*/
/*}*/
/**/
/*.items:first-child div{*/
/*    text-align: left;*/
/*}*/
/**/
/*.items:last-child div{*/
/*    text-align: right;*/
/*}*/

.event{
    background:#000000;
    margin-top:10px;
    padding:0px;
    text-align:center;
    color:#ffffff;
    text-transform:uppercase;
    padding-top:20px;
    padding-bottom:20px;
    font-size:25px;
}


/*---------slider---------------*/
.list_carousel li{
    width:140px !important;
    height:182px !important;
}
.careusel-bg{background-color: #eee; margin:50 0px !important;}
#foo4{height:170px !important;margin:10px 30px !important;}
#foo4 li{
    box-shadow: 1px 1px 3px #888888;
    background:#ffffff;
    text-align:center;
}
#foo4 li img{
    vertical-align:middle;
}
.caroufredsel_wrapper{margin:0 auto !important; height:215px !important;}
.black-border{
    border-bottom:#000000 solid 1px;
    min-height:1px;
    margin-bottom:5px;
}

.heading h3{
    font-size:25px;
    color:#000000;
    margin:0px;
    padding:0px;
    text-align:center;
    text-transform:uppercase;
}
.left-border{
    border-top:#cccccc solid 1px;
    min-height:1px;
    margin-top:10px;
}
/*--------------container css ends---------------------*/
/*--------------------footer CSS--------------------*/
.footer{
    background:#555555;
    padding-top:25px;
    padding-bottom:25px;

}
.footer h4{
    color:#DDDDDD;
    font-size:14px;
    text-transform:uppercase;
}
.footer ul{
    color:#DDDDDD;
    font-size:12px;
    margin:0px;
    padding:0px;
    list-style:none;
}
.footer ul li{
    line-height:20px;
}
.footer  a{color:#DDDDDD;}
.footer  a:hover{
    color:#000000;
    text-decoration:none;
}
.footer-box{
    padding-top:35px;
    padding-left:0px;
    padding-right:0px;
}

.dropdown-menu{
    border: none;
    background: #000;
    border-radius: 0;
    z-index: 5;
    margin-top:1px;
}

.dropdown-menu > li{
    background: url(../img/flechita.png) no-repeat 5px 7px;
    padding: 0 0 0 20px;
}

.dropdown-menu li a{
    color: #ffffff;
    font-family: 'Raleway', Helvetica;
    font-weight: 200;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 3px 0;
}

.dropdown-menu li a:hover{

}

.dropdown-menu  li  a.selected{
    text-decoration: underline;
}

.panel .panel-heading .panel-title a{
    font-weight: 500;
}

.panel .panel-heading .panel-title a.collapsed{
    font-weight: 200;
}

.dropdown-menu  li  a:hover,.panel .panel-heading .panel-title a.collapsed:hover{
    font-weight: 500;
    background: none;
    text-decoration: none;
    color:#ffffff;
}

#loader {
    height: 32px;
    margin: 10px 0;
    background: url("../img/loader_moda.gif") no-repeat center center transparent;
    display: inline-block;
    clear: both;
    width: 100%;
}

.panel-inner{
    margin: 0;
    background: transparent;
    border: none;
    padding: 0;
}

.panel .panel-heading{
    background: transparent;
    border: none;
    padding: 3px 0px 3px 0px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border: none;
}

.panel .panel-body{
    padding:0;
}

.panel .panel-body ul{
    padding: 0px;
    list-style: none;
}

.panel .panel-body ul li a{
    display: block;
    padding: 3px 15px;
    clear: both;
    font-size: 13px;
}

#posts-container{
    padding:0;
}

.box {
    width: 30.33333333333333%;
    margin-bottom: 17px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    height: 270px;
    text-align: center;
    cursor: pointer;
    padding:0;
    overflow: hidden;
    margin-right: 0;
    margin-left: 25px;
}

.box .product {
    height: 186px;
    border: 1px solid #DDDDDD;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 105%;
}

.box .caption {
    margin:10px 0;
}

.box .caption p{
    text-decoration: none;
    color: #999999;
    font-family: 'Raleway', Helvetica;
    font-weight: 200;
    text-align: left;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
}

#item_modal .modal-dialog {
    width: 90%;
    height: 90%;
}

#item_modal .modal-title{
margin: 0;
line-height: 1.428571429;
font-family: 'Raleway', Helvetica;
font-weight: 200;
text-transform: uppercase;
}

#item_modal .modal-content{
    min-height:600px;
    border-radius: 0;
}

#load_more{
    display: inline-block;
    padding: 15px;
    border-top: 1px solid #E2E2E2;
    background: transparent;
    color: #BBB;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    margin: 20px 0;
    font-family: 'Raleway', Helvetica;
    font-weight: 200;
    font-size: 18px;
    border-bottom: none;
    border-right: none;
    border-left: 0;
    outline:0;
}

#load_more:hover{
    color: #D90000;
}

.left-div{
    height: 100%;
    background: black;
    color: white;
    padding: 10px 5px;
    overflow:hidden;
    z-index: 2;
}

.wrapper {
    background-color: white;
    width: 480px;
    margin: 40px auto;
    padding: 50px;
    box-shadow: 0 0 5px #999;
}
.list_carousel {
    background-color: #eee;
    margin: 0 10px;
    width: 360px;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 40px;
    color: #999;
    text-align: center;
    background-color: #eee;

    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.clearfix {
    float: none;
    clear: both;
}
#prev {
    float: left;
    position:absolute;
    top:43%;
    left:5px;
}
#next {
    float: right;
    position:absolute;
    top:43%;
    right:5px;
}



/* ---------------------------- REESPONSIVE-------------------------- */

@media (max-width:767px)  {
    .navbar-form{
        text-align:left;
    }
    .form-group{
        float:right;
    }
    .nav-justified > li{
        background:none repeat scroll 0 0 #333333;
        float:left;
        margin:1px;
        width:49.2%;
    }
    .items{
        margin-left:11px;
        margin-right:11px;
    }

    .footer-box{
        padding-left:25%;
    }
    .black-border{
        display:none;
    }
    .gurantee{
        text-align:center;
    }
    .heading{
        margin:0px auto;
    }
    .heading h3{
        font-size:17px;
    }
    .nav{
        border:none;
    }
    .form-control-mail {
        display:none;
    }
    .form-control-ir{display:none;}
    .form-control-serch {
        display:none;
    }
    .form-group-main{display:none;}
    .nav > li > a {
        color: gray;

    }
}/*---------------mobile css close here------------*/


@media screen and (min-width: 768px) and (max-width: 980px){

    .navbar-form{
        text-align:left;
    }
    .form-control{
        width:180px;
    }
    .header ul li{
        padding-left:20px;
    }
    .items{
        padding-left:11px;
        padding-right:11px;
    }
    .event{
        font-size:20px;
    }
    .navigation{
        font-size:12px;
    }
    .footer h4{font-size:11px;}
    .footer ul{font-size:9px;}
    .col-xs-13{width:100%;}
}

@media (max-width:1280px)  {



}
@media screen and (min-width: 981px) and (max-width: 1280px){
    .items{
        padding-left:15px;
        padding-right:15px;
    }

}

.comprar:hover {
    background-color: #92268E;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #a30085;
    border: 1px solid #a30085;
}

.comprar_left, .comprar_right {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.comprar {
    font-size: 2em;
    margin: 20px;
    float: left;
    background-color: #92268E;
}
.btn-danger {
    color: #ffffff;
    background-color: #a30085;
    border: 1px solid #a30085;
}

#start-shopping .navbar-brand {
    color: #A30085;
    font-size: 2.4em;
    font-weight: 500;
    line-height: 1.1;
}

.items img, .stores img{
    margin: 0 auto;
}

/*body {*/
/*	background-color: #6b92b9;*/
/*	background-image: url('/img/navidad/snow.png'), url('/img/navidad/snow3.png'), url('/img/navidad/snow2.png');*/
/**/
/*	-webkit-animation: snow 20s linear infinite;*/
/*	-moz-animation: snow 20s linear infinite;*/
/*	-ms-animation: snow 20s linear infinite;*/
/*	animation: snow 20s linear infinite;*/
/*}*/

/*Keyframes*/
@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 50% {background-color:#b4cfe0;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}

@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
